
* {
	margin: 0;
	padding: 0;
}

body{
	font-family: courier;
	background-color: #f4f4f4;
}

#header{
	background-image: url(coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	height: 100px;
	width: 100%;
}

#header h1{
    text-align: center;
    padding-top: 25px;
}


.container{
	width: 960px;
	height: auto;
	margin: 0 auto;
}


.page{
	padding: 40px;
	padding-bottom: 100px;
	background-color: #f4f4f4;
}



#footer{
	background-color: #f4f4f4;
	height: 40px;
	width: 100%;
	color: black;
	padding: 20px;
	text-align: center;
	position:fixed;bottom:0;
	display:block;
	text-decoration: none;
	font-weight: bold;
}


#footer a{
	text-decoration: none;
	color: dodgerblue;
	font-weight: bold;
}

#footer a:hover{
	color: crimson;
}

p{
	margin-bottom: 25px;
	color: black;
	font-family: Comic Sans MS;
    text-align: center;
}


h1{
	color: white;
	padding-bottom: 25px;
    padding-top: 25px;
}

h2{
    text-align: center;
    text-decoration: underline;
}

h3{
    text-align: center;	
}

a{
    color: dodgerblue;
    text-decoration: none;
}
a:hover{
    color: crimson;
}

video{
    padding-top: 25px;
}
